.footer {
  background-color: var(--background-accent);
  padding-top: 60px;
  padding-bottom: 60px;
  & .logo-link {
    margin-bottom: 20px;
  }
  & .container {
    display: flex;
    align-items: baseline;
  }
}

.footer-address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.footer-wraper {
  margin-right: 70px;
}

.logo-white {
  font-family: var(--secondary-font);
  color: var(--white-accent);
}

.contact-link-footer {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-link);
  &:nth-child(-n + 2) {
    margin-bottom: 10px;
  }
}

.location {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-accent);
}

.social-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-accent);
  margin-bottom: 20px;
}

.social-list-item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.mailing {
  margin-left: auto;
}

.footer-form-input {
  display: flex;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-right: 12px;
  background-color: #2f303a;
  padding: 16px 15px;
  outline: none;
  color: var(--white-accent);
  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.mailing-form {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-accent);
  margin-bottom: 20px;
}

.footer-form {
  display: flex;
  align-items: stretch;
}

.footer-btn {
  display: inline-flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--white-accent);
  border-radius: 4px;
  border: none;
  padding: 10px 30px;
}

.footer-icon-send {
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  fill: var(--white-accent);
  margin-left: 10px;
}
