.logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  animation-duration: 1000ms;
  animation-iteration-count: 3;
  .header & {
    margin-right: 90px;
  }
}
